body{
    background-color: rgb(34, 32, 32);
    color: #fff;
    text-align: center;
}

.book-app > .row{
    overflow: auto;
    flex-wrap: nowrap;
  }

.book-container{
    width: auto;
    height: auto;
    display: flex;
  }
img{
    vertical-align: middle;
    cursor: pointer;
    transition: ease-in-out 0.2s;
  }
img:hover{
    transform: scale(1.1);
  }

  .book-slide{
  margin: 20px 20px;
  }